{% extends 'base.html' %}

{% block content %}

<h1>Add a song!</h1>

<div class="container">
    <div class="row m-5">
        <form action="/songs/add", method="POST">
            {{ form.hidden_tag() }}
            {% for field in form if field.widget.input_type != 'hidden' %}
                <p>
                    {{field.label}}
                    {{field}}
                </p>

            {% endfor %}
            <button class="btn btn-primary">Add song</button>
        </form>            
    </div>
</div>


{% endblock %}
